body{
    margin-right: 15%;
    margin-left: 15%;
}
h1{
    background-color: rgb(141, 141, 163);
    color: blue;
    font-size: 40px;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
b{
    font-size: 17px;
}
#p1{
    margin: 1px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
h2{
    background-color: #ccc;
    font-size: 35px;
    color: blue;
    border: solid;
    border-bottom-color: blue;
    border-right: none;
    border-top: none;
    border-left: none;
    padding: 3px;
}
strong{
    color: blue;
}

.p2{
    font-size: 16px;
}
