body{
   background-color: #4a4ac9;
   border: 10px solid black;
   padding: 10px;
}
p,li{
    color: whitesmoke;
}
h1,h2,h3{
    font-size: 30px;
    color: black;
    text-align: center;
    background-color:#4a4ac9 ;
    margin: 23px;
    margin-right: auto;
    margin-left: auto;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 25px;
}
ul{
    border: 6px double black;
    padding: 10px;
}
li{
    font-weight: bold;
    font-size: 17px;
    text-decoration: underline;
}
li:hover{
    background-color: green;
}

a{
    color: black;
}
a:hover{
    background-color: red;
}